* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
}

.page-header {
  background: #000;
  display: flex;
  justify-content: center;
  padding: 28px;
}
.header-logo {
  display: block;
}

.main-banner {
  width: 100%;
  display: block;
}

.top-infocard-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 80px;
  flex-direction: column;
}

.top-infocard-text-wrapper {
  max-width: 766px;
  margin-bottom: 66px;
}

.top-infocard-title-wrapper {
  text-align: center;
}

.top-infocard-subtitle {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  top: 16px;
}

.top-infocard-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.top-infocard-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.top-infocard-image {
  display: block;
}

@media screen and (max-width: 415px) {
  .main-banner-desktop {
    display: none;
  }
}

@media screen and (min-width: 415px) {
  .main-banner-mobile {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .top-infocard-text {
    max-width: 357px;
  }
  .top-infocard-section {
    text-align: center;
  }
  .top-infocard-subtitle {
    font-size: 20px;
  }
  .top-infocard-title {
    font-size: 28px;
    max-width: 357px;
  }

  .top-infocard-title-wrapper {
    padding-bottom: 20px;
  }
  .top-infocard-image {
    max-width: 240px;
    width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1280px) {
  .top-infocard-text {
    max-width: 520px;
    text-align: center;
  }
}
