* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #000;
}

.page-header {
  background: #000;
  display: flex;
  justify-content: center;
  padding: 28px;
}
.header-logo {
  display: block;
}

.main-banner {
  width: 100%;
  display: block;
}

.top-infocard-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 187px;
  flex-direction: column;
}

.top-infocard-text-wrapper {
  max-width: 766px;
  margin-bottom: 66px;
}

.top-infocard-title-wrapper {
  text-align: center;
}

.top-infocard-subtitle {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: normal;
  position: relative;
  top: 16px;
}

.top-infocard-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 80px;
  text-transform: uppercase;
  padding-bottom: 6px;
}

.top-infocard-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.top-infocard-image {
  display: block;
}

.top-cards {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 20px;
  justify-content: center;
  padding: 74px 0;
}

.top-card {
  display: flex;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.23);
  flex-direction: column;
  align-items: center;
  padding: 26px 26px 34px 26px;
}

.top-card-image {
  display: block;
  margin-bottom: 26px;
}

.top-card-text {
  max-width: 300px;
  text-align: center;
  font-size: 16px;
  line-height: 24px;
}

.middle-banner {
  background: #e0e0e0;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: 32px;
  justify-content: center;
}

.middle-banner-image {
  display: block;
  width: 100%;
  position: relative;
  top: 63px;
  max-width: 450px;
}

@media screen and (max-width: 415px) {
  .main-banner-desktop,
  .middle-banner-desktop {
    display: none;
  }
  .middle-banner-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 14px;
  }

  .middle-banner-image1 {
    max-width: 177px;
    width: 100%;
  }
  .middle-banner-image2 {
    max-width: 368px;
    width: 100%;
  }
}

@media screen and (min-width: 415px) {
  .main-banner-mobile,
  .middle-banner-mobile {
    display: none;
  }
}

@media screen and (max-width: 992px) {
  .top-infocard-text {
    max-width: 357px;
  }
  .top-infocard-section {
    text-align: center;
    padding-bottom: 80px;
  }
  .top-infocard-subtitle {
    font-size: 20px;
  }
  .top-infocard-title {
    font-size: 28px;
    max-width: 357px;
  }

  .top-infocard-title-wrapper {
    padding-bottom: 20px;
  }
  .top-infocard-image {
    max-width: 240px;
    width: 100%;
  }
}
@media screen and (min-width: 993px) and (max-width: 1280px) {
  .top-infocard-text {
    max-width: 520px;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .top-cards {
    grid-template-columns: 1fr;
    padding: 36px 26px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .top-cards {
    grid-template-columns: repeat(2, max-content);
  }
}
